@CHARSET "UTF-8";
@font-face {
  font-family: 'Jeju Gothic';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/jejugothic/v3/JejuGothic-Regular.eot);
  src: url(//fonts.gstatic.com/ea/jejugothic/v3/JejuGothic-Regular.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/jejugothic/v3/JejuGothic-Regular.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/jejugothic/v3/JejuGothic-Regular.woff) format('woff'),
       url(//fonts.gstatic.com/ea/jejugothic/v3/JejuGothic-Regular.ttf) format('truetype');
}

/* latin */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: local('Quicksand Regular'), local('Quicksand-Regular'), url(http://fonts.gstatic.com/s/quicksand/v5/sKd0EMYPAh5PYCRKSryvWxJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  src: local('Quicksand Bold'), local('Quicksand-Bold'), url(http://fonts.gstatic.com/s/quicksand/v5/32nyIRHyCu6iqEka_hbKsjy24DTBG-RpCwXaYkM4aks.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/*
 * cwTeXFangSong (Chinese_traditional) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'cwTeXFangSong';
  font-style: normal;
  font-weight: 500;
  src: url(//fonts.gstatic.com/ea/cwtexfangsong/v3/cwTeXFangSong-zhonly.eot);
  src: url(//fonts.gstatic.com/ea/cwtexfangsong/v3/cwTeXFangSong-zhonly.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/cwtexfangsong/v3/cwTeXFangSong-zhonly.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/cwtexfangsong/v3/cwTeXFangSong-zhonly.woff) format('woff'),
       url(//fonts.gstatic.com/ea/cwtexfangsong/v3/cwTeXFangSong-zhonly.ttf) format('truetype');
}

body {
      font-family: 'Quicksand', 'cwTeXFangSong', 'Jeju Gothic', sans-serif;
}

.container {
 width: 100%;
border: 1px solid blue;
padding: 0px;
margin:auto;
}
.header {
height: 150px;
border: 1px solid red;
position: relative;
}

.top {
width: 350px;
height: 32px;
border: 1px solid black;
position: relative;
left: 74%;
padding: 0 10px;
font-size: 1.25em;
}
/* 여행일정등록버튼  css  */
.button {
  display: inline-block;
  position: relative;
  height: 30px;
  line-height: 33px;
  padding: 0 15px;
  font-size: 15px;
  color: white;
  text-decoration: none;
  
  /* border: 2px solid; */
  border-radius: 7px;
  outline: 0;
  -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.25);
}
.button:before, .button:after {
  content: '';
  position: absolute;
}
.button:before {
  top: -5px;
  bottom: -5px;
  left: -5px;
  right: -5px;
  z-index: -1;
  border-radius: 9px;
}
.button:after {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  /* border: 2px solid rgba(255, 255, 255, 0.1); */
  border-bottom: 0;
  border-radius: 7px;
}

.button.alt {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}
.button.alt:before {
  display: none;
}

.button.blue {
  background: #73ed95;
  border-color:#73ed95;
  
}


/*  main-name= hello world */
.main-name {
height: 70px;
border: 1px solid black;
text-align: center;
font-size: 3.3em;

}
.main-content {
height: 500px;
border:1px solid red;
position: relative;

}
.best-items {
width: 1170px;
height: 700px;
margin: 0 auto;
border:1px solid red;
position: relative;

}
.footer {
clear:both;
height: 150px;
border:1px solid red;
}

 .footer-menu> a:link, 
 .footer-menu> a:visited,  
 .footer-menu> a:hover, 
 .footer-menu>a:active  {
FONT-SIZE: 11pt;
COLOR: #000000;
LINE-HEIGHT: normal;
TEXT-DECORATION: none;
font-weight: bolder;
}

hr{
border-top: 1px solid black;
margin: 0px;
}

.footer-menu {
width: 400px;
height: 40px;
padding: 10px 0px;
border: 1px solid black;
position: relative;
right: -817px;
}
.copyright {
font-style: normal;
text-align: center;
color: blue;
margin: 5%;
}