.rb-grid {
  list-style: none;
  text-align: center;
  margin: 0 auto;
  width: 80%;
}

.rb-grid li {
  width: 24%;
  height: 5em;
  margin: 0.5%;
  background: #ff5a5f;
  color: #fff;
  display: block;
  float: left;
  padding: 1.6em;
  cursor: pointer;
  position: relative;
}

.rb-grid li.rb-span-2 {
  width: 32.3%;
  height: 10.6em;
}

.rb-grid li.rb-span-4 {
  height: 10.6em;
}

.rb-grid li.rb-span-6 {
  height: 10.6em;
  width: 49%;
}

.rb-grid li h3 {
  font-size: 2.6em;
  font-weight: 100;
}

.rb-grid li[class^="icon-"]:before,
.rb-grid li[class*=" icon-"]:before {
  font-size: 10em;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  line-height: 3;
  opacity: 0.4;
  text-align: right;
  pointer-events: none;
}

.rb-temp {
  display: block;
  font-size: 2em;
  opacity: 0.5;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  padding-top: 35px;
}

.rb-grid li:hover .rb-temp {
  opacity: 1;
}

.rb-overlay {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  z-index: -1;
  pointer-events: none;
  cursor: default;
}

.rb-close {
  position: absolute;
  top: 0.4em;
  right: 0.4em;
  width: 2em;
  height: 2em;
  text-indent: -9000px;
  cursor: pointer;
  z-index: 1000;
}

.rb-close::before {
  content: 'x';
  font-weight: 100;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 3em;
  line-height: 0.6;
  text-align: center;
  text-indent: 0px;
}

.rb-week {
  width: 100%;
  height: 100%;
}

.rb-week > div {
  width: 10%;
  height: 100%;
  float: left;
  position: relative;
  padding: 3% 0;
}

.rb-week > div:first-child {
  width: 30%;
}

.rb-week span {
  padding: 5% 0;
  font-size: 2em;
  font-weight: 100;
  display: block;
  margin: auto 0;
  height: 30%;
  width: 100%;
  line-height: 0.8;
}

.rb-week span.rb-city {
  font-weight: 700;
  padding: 1% 10%;
  font-size: 1em;
  line-height: 1.2;
}

.rb-week [class^="icon-"]:before {
  font-size: 2.5em;
  font-weight: normal;
}

.rb-week > div:first-child [class^="icon-"] {
  opacity: 0.1;
}

/* Colors */

/* Grid */
.rb-grid li:nth-child(1) { background: #3399CC; }
.rb-grid li:nth-child(2) { background: #33CCCC; }
.rb-grid li:nth-child(3) { background: #996699; }
.rb-grid li:nth-child(4) { background: #C24747; }
.rb-grid li:nth-child(5) { background: #e2674a; }
.rb-grid li:nth-child(6) { background: #FFCC66; }
.rb-grid li:nth-child(7) { background: #99CC99; }
.rb-grid li:nth-child(8) { background: #669999; }
.rb-grid li:nth-child(9) { background: #ff5a5f; }
.rb-grid li:nth-child(10) { background: #339966; }
.rb-grid li:nth-child(11) { background: #666699; }
.rb-grid li:nth-child(12) { background: hotpink; }
.rb-grid li:nth-child(13) { background: powderblue; }
.rb-grid li:nth-child(14) { background: coral; }
.rb-grid li:nth-child(15) { background: #D7DF01; }
.rb-grid li:nth-child(16) { background: violet; }
.rb-grid li:nth-child(17) { background: forestgreen; }
.rb-grid li:nth-child(18) { background: gold; }
.rb-grid li:nth-child(19) { background: darkslateblue; }
.rb-grid li:nth-child(20) { background: #FF8200; } 
.rb-grid li:nth-child(21) { background: #9400D3; } 
.rb-grid li:nth-child(22) { background: #FF7A85; } 
.rb-grid li:nth-child(23) { background: #008C8C; } 
.rb-grid li:nth-child(24) { background: #1E90FF; } 
.rb-grid li:nth-child(25) { background: #C32E61; } 
.rb-grid li:nth-child(26) { background: #1E3269; } 

#FF8200


/* Overlay Columns */
.rb-grid li:nth-child(1) .rb-week > div:nth-child(1) { background: #3399CC; }
.rb-grid li:nth-child(1) .rb-week > div:nth-child(2) { background: #2D87B4; }
.rb-grid li:nth-child(1) .rb-week > div:nth-child(3) { background: #297AA3; }
.rb-grid li:nth-child(1) .rb-week > div:nth-child(4) { background: #256E93; }
.rb-grid li:nth-child(1) .rb-week > div:nth-child(5) { background: #216283; }
.rb-grid li:nth-child(1) .rb-week > div:nth-child(6) { background: #1D5672; }
.rb-grid li:nth-child(1) .rb-week > div:nth-child(7) { background: #184962; }
.rb-grid li:nth-child(1) .rb-week > div:nth-child(8) { background: #143D52; }

.rb-grid li:nth-child(2) .rb-week > div:nth-child(1) { background: #33CCCC; }
.rb-grid li:nth-child(2) .rb-week > div:nth-child(2) { background: #2DB4B4; }
.rb-grid li:nth-child(2) .rb-week > div:nth-child(3) { background: #29A3A3; }
.rb-grid li:nth-child(2) .rb-week > div:nth-child(4) { background: #259393; }
.rb-grid li:nth-child(2) .rb-week > div:nth-child(5) { background: #218383; }
.rb-grid li:nth-child(2) .rb-week > div:nth-child(6) { background: #1D7272; }
.rb-grid li:nth-child(2) .rb-week > div:nth-child(7) { background: #186262; }
.rb-grid li:nth-child(2) .rb-week > div:nth-child(8) { background: #145252; }

.rb-grid li:nth-child(3) .rb-week > div:nth-child(1) { background: #996699; }
.rb-grid li:nth-child(3) .rb-week > div:nth-child(2) { background: #936293; }
.rb-grid li:nth-child(3) .rb-week > div:nth-child(3) { background: #875A87; }
.rb-grid li:nth-child(3) .rb-week > div:nth-child(4) { background: #7A527A; }
.rb-grid li:nth-child(3) .rb-week > div:nth-child(5) { background: #6E496E; }
.rb-grid li:nth-child(3) .rb-week > div:nth-child(6) { background: #624162; }
.rb-grid li:nth-child(3) .rb-week > div:nth-child(7) { background: #563956; }
.rb-grid li:nth-child(3) .rb-week > div:nth-child(8) { background: #493149; }

.rb-grid li:nth-child(4) .rb-week > div:nth-child(1) { background: #C24747; }
.rb-grid li:nth-child(4) .rb-week > div:nth-child(2) { background: #B83D3D; }
.rb-grid li:nth-child(4) .rb-week > div:nth-child(3) { background: #A83838; }
.rb-grid li:nth-child(4) .rb-week > div:nth-child(4) { background: #993333; }
.rb-grid li:nth-child(4) .rb-week > div:nth-child(5) { background: #8A2E2E; }
.rb-grid li:nth-child(4) .rb-week > div:nth-child(6) { background: #7A2929; }
.rb-grid li:nth-child(4) .rb-week > div:nth-child(7) { background: #6B2424; }
.rb-grid li:nth-child(4) .rb-week > div:nth-child(8) { background: #5C1F1F; }

.rb-grid li:nth-child(5) .rb-week > div:nth-child(1) { background: #e2674a; }
.rb-grid li:nth-child(5) .rb-week > div:nth-child(2) { background: #E05C3E; }
.rb-grid li:nth-child(5) .rb-week > div:nth-child(3) { background: #DD4D2C; }
.rb-grid li:nth-child(5) .rb-week > div:nth-child(4) { background: #D34322; }
.rb-grid li:nth-child(5) .rb-week > div:nth-child(5) { background: #C13D1F; }
.rb-grid li:nth-child(5) .rb-week > div:nth-child(6) { background: #AF371D; }
.rb-grid li:nth-child(5) .rb-week > div:nth-child(7) { background: #9E321A; }
.rb-grid li:nth-child(5) .rb-week > div:nth-child(8) { background: #8C2C17; }

.rb-grid li:nth-child(6) .rb-week > div:nth-child(1) { background: #FFCC66; }
.rb-grid li:nth-child(6) .rb-week > div:nth-child(2) { background: #FFC247; }
.rb-grid li:nth-child(6) .rb-week > div:nth-child(3) { background: #FFBB33; }
.rb-grid li:nth-child(6) .rb-week > div:nth-child(4) { background: #FFB41F; }
.rb-grid li:nth-child(6) .rb-week > div:nth-child(5) { background: #FFAD0A; }
.rb-grid li:nth-child(6) .rb-week > div:nth-child(6) { background: #F5A300; }
.rb-grid li:nth-child(6) .rb-week > div:nth-child(7) { background: #E09600; }
.rb-grid li:nth-child(6) .rb-week > div:nth-child(8) { background: #CC8800; }

.rb-grid li:nth-child(7) .rb-week > div:nth-child(1) { background: #99CC99; }
.rb-grid li:nth-child(7) .rb-week > div:nth-child(2) { background: #85C185; }
.rb-grid li:nth-child(7) .rb-week > div:nth-child(3) { background: #77BB77; }
.rb-grid li:nth-child(7) .rb-week > div:nth-child(4) { background: #6AB46A; }
.rb-grid li:nth-child(7) .rb-week > div:nth-child(5) { background: #5CAD5C; }
.rb-grid li:nth-child(7) .rb-week > div:nth-child(6) { background: #52A352; }
.rb-grid li:nth-child(7) .rb-week > div:nth-child(7) { background: #4B954B; }
.rb-grid li:nth-child(7) .rb-week > div:nth-child(8) { background: #448844; }

.rb-grid li:nth-child(8) .rb-week > div:nth-child(1) { background: #669999; }
.rb-grid li:nth-child(8) .rb-week > div:nth-child(2) { background: #629393; }
.rb-grid li:nth-child(8) .rb-week > div:nth-child(3) { background: #5A8787; }
.rb-grid li:nth-child(8) .rb-week > div:nth-child(4) { background: #527A7A; }
.rb-grid li:nth-child(8) .rb-week > div:nth-child(5) { background: #496E6E; }
.rb-grid li:nth-child(8) .rb-week > div:nth-child(6) { background: #416262; }
.rb-grid li:nth-child(8) .rb-week > div:nth-child(7) { background: #395656; }
.rb-grid li:nth-child(8) .rb-week > div:nth-child(8) { background: #314949; }

.rb-grid li:nth-child(9) .rb-week > div:nth-child(1) { background: #CC6699; }
.rb-grid li:nth-child(9) .rb-week > div:nth-child(2) { background: #C7578F; }
.rb-grid li:nth-child(9) .rb-week > div:nth-child(3) { background: #C24785; }
.rb-grid li:nth-child(9) .rb-week > div:nth-child(4) { background: #B83D7A; }
.rb-grid li:nth-child(9) .rb-week > div:nth-child(5) { background: #A83870; }
.rb-grid li:nth-child(9) .rb-week > div:nth-child(6) { background: #993366; }
.rb-grid li:nth-child(9) .rb-week > div:nth-child(7) { background: #8A2E5C; }
.rb-grid li:nth-child(9) .rb-week > div:nth-child(8) { background: #7A2952; }

.rb-grid li:nth-child(10) .rb-week > div:nth-child(1) { background: #339966; }
.rb-grid li:nth-child(10) .rb-week > div:nth-child(2) { background: #2E8A5C; }
.rb-grid li:nth-child(10) .rb-week > div:nth-child(3) { background: #297A52; }
.rb-grid li:nth-child(10) .rb-week > div:nth-child(4) { background: #246B47; }
.rb-grid li:nth-child(10) .rb-week > div:nth-child(5) { background: #1F5C3D; }
.rb-grid li:nth-child(10) .rb-week > div:nth-child(6) { background: #194D33; }
.rb-grid li:nth-child(10) .rb-week > div:nth-child(7) { background: #143D29; }
.rb-grid li:nth-child(10) .rb-week > div:nth-child(8) { background: #0F2E1F; }

.rb-grid li:nth-child(11) .rb-week > div:nth-child(1) { background: #666699; }
.rb-grid li:nth-child(11) .rb-week > div:nth-child(2) { background: #626293; }
.rb-grid li:nth-child(11) .rb-week > div:nth-child(3) { background: #5A5A87; }
.rb-grid li:nth-child(11) .rb-week > div:nth-child(4) { background: #52527A; }
.rb-grid li:nth-child(11) .rb-week > div:nth-child(5) { background: #49496E; }
.rb-grid li:nth-child(11) .rb-week > div:nth-child(6) { background: #414162; }
.rb-grid li:nth-child(11) .rb-week > div:nth-child(7) { background: #393956; }
.rb-grid li:nth-child(11) .rb-week > div:nth-child(8) { background: #313149; }

@media screen and (max-width: 63.125em) {
  
  .rb-grid li,
  .rb-grid li.rb-span-2,
  .rb-grid li.rb-span-4 {
    width: 100%;
    height: 10em;
    text-align: left;
  }

  .rb-grid li[class^="icon-"]:before,
  .rb-grid li[class*=" icon-"]:before {
    font-size: 6em;
    left: auto;
    right: 0;
    line-height: 2.5;
  }

  .rb-grid li > div {
    text-align: center;
  }
}
















/* ---------------------여기부터 connect 페이지!!!!!!------------------------ */

/* Common style */
.grid {
  margin: 40px auto 120px;
  max-width: 1000px;
  width: 90%;
}

.grid a {
  float: left;
  max-width: 250px;
  width: 25%;
  color: #333;
}

.grid a:nth-child(odd) {
  margin: 30px 0 -30px 0;
}

.grid figure {
  position: relative;
  overflow: hidden;
  margin: 5px;
  background: #333;
}

.grid figure img {
  position: relative;
  display: block;
  width: 100%;
  opacity: 0.7;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.grid figcaption {
  position: absolute;
  top: 0;
  z-index: 11;
  padding: 10px;
  width: 100%;
  height: 100%;
  text-align: center;
}

.grid figcaption h2 {
  margin: 0 0 20px 0;
  color: #3498db;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300;
  font-size: 130%;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

.grid figcaption p {
  padding: 0 20px;
  color: #aaa;
  font-weight: 300;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
}

.grid figcaption h2,
.grid figcaption p {
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
}

.grid figure button {
  position: absolute;
  padding: 4px 20px;
  border: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
}

.grid figcaption,
.grid figcaption h2,
.grid figcaption p,
.grid figure button {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* Style for SVG */
.grid svg {
  position: absolute;
  top: -1px; /* fixes rendering issue in FF */
  z-index: 10;
  width: 100%;
  height: 100%;
}

.grid svg path {
  fill: #fff;
}

/* Hover effects */
.grid a:hover figure img {
  opacity: 1;
}

.grid a:hover figcaption h2,
.grid a:hover figcaption p {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.grid a:hover figcaption p {
  opacity: 0;
}

/* Individual styles */


.demo-2 body {
  background: #ff5a5f;
}

.demo-2 .grid figcaption h2 {
  color: #e74c3c;
}

.demo-2 .grid figcaption p {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}

.demo-2 .grid figure button {
  bottom: 0;
  left: 0;
  padding: 15px;
  width: 100%;
  background: #fff;
  color: #333;
  font-weight: 300;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}

.demo-2 .grid a:hover figure button {
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.demo-2 .grid figcaption h2, 
.demo-2 .grid figcaption p,


.demo-2 .grid a:hover figcaption p,


/* Media Queries */
/* Let's redefine the width of each anchor and the margins */

@media screen and (max-width: 58em) {
  .grid a {
    width: 33.333%;
  }

  .grid a:nth-child(odd) {
    margin: 0;
  }

  .grid a:nth-child(3n-1) {
    margin: 30px 0 -30px 0;
  }
}

@media screen and (max-width: 45em) {
  .grid {
    max-width: 500px;
  }

  .grid a {
    width: 50%;
  }

  .grid a:nth-child(3n-1) {
    margin: 0;
  }

  .grid a:nth-child(even) {
    margin: 30px 0 -30px 0;
  }


  .grid figcaption h2 {
    margin-bottom: 0px;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }

  .grid figcaption p {
    margin: 0;
    padding: 0 10px;
  }
}

@media screen and (max-width: 27em) {
  .grid {
    max-width: 250px;
  }

  .grid a {
    width: 100%;
  }

  .grid a:nth-child(even) {
    margin: 0;
  }
}





/* 커넥트페이지 */



@font-face {
  font-family: 'fontawesome';
  src:url('../fonts/fontawesome/fontawesome.eot');
  src:url('../fonts/fontawesome/fontawesome.eot?#iefix') format('embedded-opentype'),
    url('../fonts/fontawesome/fontawesome.woff') format('woff'),
    url('../fonts/fontawesome/fontawesome.ttf') format('truetype'),
    url('../fonts/fontawesome/fontawesome.svg#fontawesome') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Main container */
.cbp-vm-switcher {
  padding: 20px;
  border: 3px solid #bdbdbd;
}

/* options/select wrapper with switch anchors */
.cbp-vm-options {
  text-align: right;
  padding-bottom: 10px;
  border-bottom: 3px solid #bdbdbd;
}

.cbp-vm-options a {
  display: inline-block;
width: 100px;
height: 40px;
overflow: hidden;
white-space: nowrap;
color: white;
margin: 2px;
text-align: center;
}

.cbp-vm-options a:hover,
.cbp-vm-options a.cbp-vm-selected {
  /* color: #47a3da; */
}

.cbp-vm-options a:before {
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 30px;
  text-align: center;
  display: inline-block;
}

/* General style of switch items' list */

.cbp-vm-switcher ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Clear eventual floats */
.cbp-vm-switcher ul:before, 
.cbp-vm-switcher ul:after { 
  content: " "; 
  display: table; 
}

.cbp-vm-switcher ul:after { 
  clear: both; 
}

.cbp-vm-switcher ul li {
  display: block;
  position: relative;
}

.cbp-vm-image {
  display: block;
  margin: 0 auto;
}

.cbp-vm-image img {
  display: inline-block;
  max-width: 100%;
  border: none;
  margin-left: 15px;
}

.cbp-vm-title {
  margin: 0;
  padding: 0;
}

.cbp-vm-price {
  color: #c0c0c0;
}

.cbp-vm-add {
  color: #fff;
  background: #47a3da;
  padding: 3px 10px;
  border-radius: 2px;
  margin: 20px 0 0;
  display: inline-block;
  transition: background 0.2s;
}

.cbp-vm-add:hover {
  color: #fff;
  background: #02639d;
}

.cbp-vm-add:before {
  margin-right: 5px;
}

/* Common icon styles */
/* .cbp-vm-icon:before {
  font-family: 'fontawesome';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
} */



.cbp-vm-list:before {
  content: "\f00b";
}

/* .cbp-vm-add:before {
  content: "\f055";
} */

/* Individual view mode styles */



/* List view */
.cbp-vm-view-list li {
  padding: 20px 0;
  white-space: nowrap;
}

.cbp-vm-view-list .cbp-vm-image,
.cbp-vm-view-list .cbp-vm-title,
.cbp-vm-view-list .cbp-vm-details,
.cbp-vm-view-list .cbp-vm-price,
.cbp-vm-view-list .cbp-vm-add {
  display: inline-block;
  vertical-align: middle;
}

.cbp-vm-view-list .cbp-vm-image {
  width: 10%;
}

.cbp-vm-view-list .cbp-vm-title {
  font-size: 1.3em;
  padding: 0 30px;
  white-space: normal;
  width: 21%;
  text-align: center;
}

.cbp-vm-view-list .cbp-vm-price {
  font-size: 1.1em;
  width: 10%;
}

.cbp-vm-view-list .cbp-vm-details {
  width: 34%;
  padding: 0 15px;
  overflow: hidden;
  white-space: normal;
  margin-left: 2%;
}

.cbp-vm-view-list .cbp-vm-add {
  margin: 0;
}

@media screen and (max-width: 66.7em) {
  .cbp-vm-view-list .cbp-vm-details  {
    width: 30%;
  }
} 



@media screen and (max-width: 47.375em) {
  .cbp-vm-view-list .cbp-vm-image {
    width: 20%;
  }

  .cbp-vm-view-list .cbp-vm-title {
    width: auto;
  }

  .cbp-vm-view-list .cbp-vm-details  {
    display: block;
    width: 100%;
    margin: 10px 0;
  }

  .cbp-vm-view-list .cbp-vm-add  {
    margin: 10px;
  }
}

  .cbp-vm-delete {
  color: #fff;
  background: #fc8387;
  padding: 10px 20px;
  border-radius: 2px;
  margin: 20px 0 0;
  display: inline-block;
  transition: background 0.2s;
  }
  
  .cbp-vm-delete:hover {
  color: #fff;
  background: #ff5a5f;
}

  .cbp-vm-delete:before {
  margin-right: 5px;
}
  

