 {{#each connects}}
 <li class="test-hover">
              
              <div class="cbp-vm-date">
              {{yyyyMMdd connectDate}}<br>
              ({{connectStartDate}})
              </div>
              
              <a class="cbp-vm-image" href="detailItem.html?itemNo={{itemNo}}">
              <img src="../fileupload/{{photoUrl}}"></a>
              <h3 class="cbp-vm-title {{connectStatus}}">{{stat connectStatus}}</h3>
              <div class="cbp-vm-price">{{price}}</div>
              <div class="cbp-vm-details">{{title}} </div>
                            
                            {{{btnReject "취소" connectStatus no}}}
                            {{{btnTel connectStatus no tel}}}
            </li>       
{{/each}} 
